/* style2.css */
/*benefits*/
.tinypic{height:80px;border-radius:10px}
/* menu */
nav{text-align:center;
width: 90%;
    float: left;
    display: block;
    position: relative;}
nav ul {
    background-color: tomato;
    border-style: solid;
    border-color: MediumVioletRed;
    border-width: 2px;
    padding: 10px;
    /*width: 450px;*/
    border-radius: 10px;
margin:30px 0px 0px 0px}
nav ul li {
    list-style-type: none;
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
    color: PapayaWhip;
font-family: 'Helvetica', sans-serif;
}
nav ul li a {
    text-decoration: none;
}
.contact{vertical-align: middle;
    float: left;
    display: table-cell;
    position: relative;
    box-sizing: border-box;
    width: 5%;
max-height:80px}
/*overall layout*/
main{    position: relative;
    top: 100px;}

/* sliding boxes */


* {box-sizing: border-box;}
body {  line-height: 1.42857143;
background-color:#90c0ff;
}
img {  vertical-align: middle;}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 992px) {.col{ float: left;
width: 33.33333333%;  }
}

.container:before,
.container:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}

.container:after,
.container-fluid:after,
.modal-footer:after {
  clear: both;
}
h3{
	margin:0;
   font-family: 'AllertaStencil-Regular';
    font-weight: 400;
	color:#fff;
	font-size:1.3em;
	margin-top: 20%;
	text-transform: uppercase;
	line-height:1.5em;
}	
p{
	margin:0;
	font-family: 'Open Sans', sans-serif;
}
.box2 {
    margin: 4% 0% 2% 4%;
}
.view {
  	width: 279px;
	height: 330px;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
    background: #5050ff;
	border-radius:6px;
}
.view .mask,.view .content {
  	width: 282px;
	height: 330px;
	position: absolute;
	overflow: hidden;
	top: 0px;
	left: -2px;
	border-radius:6px;
}
.view h4 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background:none;
   font-weight:400;
   margin: 20px 19px 1px 10px;
   font-family: 'Open Sans', sans-serif;
   line-height: 1.6em;
}
.view p {
  	font-size: 0.9em;
	position: relative;
	color: #FFF;
	padding:20px 20px 0px 20px;
	text-align: center;
	line-height: 1.5em;
}
.view img {
   transition: all 0.3s ease-in-out;
}
.view .mask {
  background-color:#ff50ff;
   transform: translateX(-300px);
   filter: alpha(opacity=100);
   opacity: 1;
   transition: all 0.3s ease-in-out;
}
.view h3{transition: all 0.3s ease-in-out;}
.view p {
   color: #fff;
   /*transition: all 0.2s linear;*/
}
.view:hover h3 {
transform: translateX(400px);}
.view:hover img {
transform: translateX(400px);}
.view:hover .mask {
   transform: translateX(0px);
}
.wideview {width: 410px;}
.wideview .mask,.wideview .content {width: 413px;}
.wideview:hover h3 {transform: translateX(410px);}
.view:hover img {transform: translateX(410px);}
.wideview .mask {
   transform: translateX(-431px);
   transition: all 0.3s ease-in-out;}
.rview{float:right}
h3{margin-top: 55px}
/*quotes*/
.quotebox{
color:rgb(0,0,0);
background-color:rgb(208 228 255);
margin-left:50px;
margin-right:50px;
margin-top:16px;
margin-bottom:16px;
padding:0.01em 16px 0.01em 16px;
width:50%;
margin-left:25%
}
.qtext{margin-top:-40px;
font-size:24px;
margin-bottom:1.2em;}
/*boxes at bottom of homepage*/
.bigv{display:flex;
text-align:center;}
.bigw{
background-color: rgb(196 245 242);
justify-content: center;
text-align: center;
    padding: 45px 25px 30px;
    border-radius: 5px;
margin:2%
}
/*footer*/
.foot{background: rgb(23 20 237);color:white;padding:5px}
.about{margin:5px;padding:5px}
/*slideshow upfoot*/
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.centful{text-align:center;height:68px;
width:100%}

/*gallery*/
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
