/* style2.css */
/* menu */
nav ul {
    background-color: tomato;
    border-style: solid;
    border-color: MediumVioletRed;
    border-width: 2px;
    padding: 10px;
    width: 450px;
    border-radius: 10px;
margin:30px 0px 0px 450px}
nav ul li {
    list-style-type: none;
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
    color: PapayaWhip;
font-family: 'Helvetica', sans-serif;
}
nav ul li a {
    text-decoration: none;
}



/* sliding boxes */


* {box-sizing: border-box;}
body {  line-height: 1.42857143;
background-color:#90c0ff;
}
img {  vertical-align: middle;}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 992px) {.col{ float: left;
width: 33.33333333%;  }
}

.container:before,
.container:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}

.container:after,
.container-fluid:after,
.modal-footer:after {
  clear: both;
}
h3{
	margin:0;
   font-family: 'AllertaStencil-Regular';
    font-weight: 400;
	color:#fff;
	font-size:1.3em;
	margin-top: 20%;
	text-transform: uppercase;
	line-height:1.5em;
}	
p{
	margin:0;
	font-family: 'Open Sans', sans-serif;
}
.box2 {
    margin: 4% 0% 2% 4%;
}
.view {
  	width: 279px;
	height: 330px;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
    background: #5050ff;
	border-radius:6px;
}
.view .mask,.view .content {
  	width: 282px;
	height: 330px;
	position: absolute;
	overflow: hidden;
	top: 0px;
	left: -2px;
	border-radius:6px;
}
.view h4 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background:none;
   font-weight:400;
   margin: 20px 19px 1px 10px;
   font-family: 'Open Sans', sans-serif;
   line-height: 1.6em;
}
.view p {
  	font-size: 0.9em;
	position: relative;
	color: #FFF;
	padding:20px 20px 0px 20px;
	text-align: center;
	line-height: 1.5em;
}
.view img {
   transition: all 0.3s ease-in-out;
}
.view .mask {
  background-color:#ff50ff;
   transform: translateX(-300px);
   filter: alpha(opacity=100);
   opacity: 1;
   transition: all 0.3s ease-in-out;
}
.view h3{transition: all 0.3s ease-in-out;}
.view p {
   color: #fff;
   /*transition: all 0.2s linear;*/
}
.view:hover h3 {
transform: translateX(400px);}
.view:hover img {
transform: translateX(400px);}
.view:hover .mask {
   transform: translateX(0px);
}
.wideview {width: 415px;}
.wideview .mask,.wideview .content {width: 418px;}
.wideview:hover h3 {transform: translateX(415px);}
.view:hover img {transform: translateX(415px);}
.wideview .mask {
   transform: translateX(-436px);
   transition: all 0.3s ease-in-out;}
.rview{float:right}
h3{margin-top: 55px}
/*one type of quote*/
.quotebox{
color:rgb(0,0,0);
background-color:rgb(208 228 255);
margin-left:50px;
margin-right:50px;
margin-top:16px;
margin-bottom:16px;
padding:0.01em 16px 0.01em 16px;
width:50%;/*added this line and following*/
margin-left:25%
}
.qtext{margin-top:-40px;
font-size:24px;
margin-bottom:1.2em;}
/*remove below here on GitHub*/
/*add below here*/
.bigv{display:flex;
text-align:center;/*position:relative;width:33%*/}
.bigw{/*position: relative;
    min-height: 1px;
    overflow-wrap: break-word;
    font-weight: 400;
    line-height: 26px;
    font-style: normal;
    align-content: flex-start;
    align-items: flex-start;
width:100px;
transition: background 0.3s ease 0s, border 0.3s ease 0s, border-radius 0.3s ease 0s, box-shadow 0.3s ease 0s;*/
background-color: rgb(196 245 242);
justify-content: center;
text-align: center;
    padding: 45px 25px 30px;
    border-radius: 5px;
margin:2%
}
/*.bigw h6{margin:20px;
width:100%;
position:relative;
display:block;
text-align: center;
padding:45px 25px 30px;
}

.bigw p{width:100%;
position:relative;
display:block;
text-align:center;
box-sizing:border-box;}
.bigv:before,
.bigv:after,
{
  display: table;
  content: " ";
}

.bigv:after{
  clear: both;
}*/
.foot{background: rgb(23 20 237);color:white;padding:5px}
.about{margin:5px;padding:5px}
/*slideshow upfoot*/
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.centful{text-align:center;
width:100%}
